/*

* Override Pages default styles or create your own styles here

*/

.bubble-notif{
    position: absolute;
    background-color: red;
    display: inline-block;
    font-size: 12px;
    border-radius: 9px;
    text-align: center;
    padding: 3px 6px;
    color: #fff;
    margin-left: 10px;
    margin-top: -8px;
    font-weight: 800;
    line-height: 1;
}

.notification-item .heading{
    padding: 5px 0;
}

.notification-item .heading > a,
.notification-item .heading > .time{
    line-height: 24px;
}