a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    /*background-color: #ddd;*/
    color: black;
}

.mundur {
    background-color: #4caf50;
    color: white;
}

.maju {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}
